<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="blogs_index.scss">
</head>
<body>
  <div class="container">
    <h1 class="my-3">投稿一覧</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>お名前</th>
            <th>お悩み</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.user.name %></td>
              <td><%= blog.content %></td>
              <td><%= link_to '詳細', blog, class: 'btn btn-primary btn-sm' %></td>
              <% if blog.user == current_user %>
                <td><%= link_to '編集', edit_blog_path(blog), class: 'btn btn-warning btn-sm' %></td>
                <td><%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'search', q: @q, url: blogs_path %>
    <%= link_to 'お悩み投稿', new_blog_path, class: 'btn btn-success my-3' %>
  </div>
</body>
</html>