<%= form_with(model: [blog, comment], local: false, html: { class: 'comment-edit-form' }) do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h4>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content, 'コメントを訂正', class: 'form-label' %>
    <%= form.text_area :content, id: "comment_content_#{blog.id}", class: 'form-control', data: { test_id: "test_comment_content" } %>
  </div>

  <div class="actions">
    <%= form.submit '更新', class: 'btn btn-primary' %>
    <%= link_to '戻る', blog_path(blog), class: 'btn btn-secondary mt-3' %>
  </div>
<% end %>